{{!-- List a table or ul of the events in an #each loop --}}
<ul class="single-event">
  {{#each model as |event|}}
  <li class="single-event-list">
    <span class="single-event-list__item">{{ str-title event.region }}</span>
    <span class="single-event-list__item">{{ event.name }}</span>
    <span class="single-event-list__item">{{ event.email }}</span>
    <span class="single-event-list__item">{{ moment-format event.startDate "MM/DD/YYYY" }} – {{ moment-format event.endDate "MM/DD/YYYY"}}</span>
    <span class="single-event-list__item">{{ event.url }}</span>
    <span class="single-event-list__item">{{ event.location}}</span>
    <span class="single-event-list__item">{{ event.description }}</span>
    <span class="single-event-list__item">Active: {{ event.active }}</span>
    <span class="single-event-list__item">Featured: {{ event.featured }}</span>

    {{#link-to "admin.event.edit" event class="event-list-item__edit"}}Edit{{/link-to}}
  </li>
  {{/each}}

</ul>
