{{!-- List a table or ul of the events in an #each loop --}}
<ul class="single-event">
  {{#each model as |event|}}
  <li class="single-event-list">
    <span class="single-event-list__item">{{ event.name }}</span>
    <span class="single-event-list__item">{{ event.email }}</span>
    <span class="single-event-list__item">{{ event.startDate }}</span>
    <span class="single-event-list__item">{{ event.endDate }}</span>
    <span class="single-event-list__item">{{ event.url }}</span>
    <span class="single-event-list__item">{{ event.location}}</span>
    <span class="single-event-list__item">{{ event.description }}</span>
    {{mdl-checkbox value=valueA text='Active'}}
    {{#mdl-checkbox value=valueB}}
    {{/mdl-checkbox}}
    {{mdl-checkbox value=valueA text='Featured'}}
    {{#mdl-checkbox value=valueB}}
    {{/mdl-checkbox}}
    {{#link-to "admin.event.edit" }}
      {{mdl-button class="new-btn" isRaised=true text='Edit Event'}}
    {{/link-to}}
  </li>
  {{/each}}

</ul>
