<h4 class="region__title">Featured Event of The Month</h4>

    <span class="featured__text-name">{{event.name}}</span>
    <span class="featured__text">Location: {{event.location}}</span>
    <span class="featured__text">Dates: {{event.dates}}</span>
    <span class="featured__text">Website: {{event.url}}</span>
    <span class="featured__text">{{event.description}}</span>
