{{log model.length}}

{{#month-organizer items=model as |group|}}
  <h3 class="group-month">{{group.label}}</h3>

  {{#each group.items as |event|}}
    <div class="card">

      <span class="single-event-list__item">{{ event.name }}</span>
      <span class="single-event-list__item">Dates: {{ moment-format event.startDate "MM/DD/YYYY" }} – {{ moment-format event.endDate "MM/DD/YYYY"}}</span>
      <span class="single-event-list__item">Location: {{event.location }}</span>
      <span class="single-event-list__item">{{ event.url }}</span>
      <span class="single-event-list__item">{{ event.description }}</span>
      <span class="single-event-list__item"><img src={{event.imageUrl}}></span>

    </div>
  {{/each}}
{{/month-organizer}}
