<div class="mdl-grid">

    {{#simple-form onsubmit="submitEvent" class="card" as |formValues|}}
      <h2 class="section-head">Submit An Event</h2>

      <div class="dropdown-selector">
        <label class="region-selector">Region: {{if formValues.region (str-title formValues.region) 'Choose a Region'}}</label>

        {{#mdl-menu class="selector" icon="arrow_drop_down" click=(prevent-default)}}
          {{#mdl-value-item binding=(mut formValues.region) value='ozarks'}}Ozarks{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.region) value='river-valley'}}River Valley{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.region) value='central'}}Central{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.region) value='delta'}}Delta{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.region) value='ouachitas'}}Ouachitas{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.region) value='timberlands'}}Timberlands{{/mdl-value-item}}
        {{/mdl-menu}}
      </div>
      <div class="dropdown-selector">
        <label class="region-selector">Category: {{if formValues.category (str-title formValues.category) 'Choose a Category'}}</label>

        {{#mdl-menu class="selector" icon="arrow_drop_down" click=(prevent-default)}}
          {{#mdl-value-item binding=(mut formValues.category) value='arts-film-music'}}Arts, Film & Music{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.category) value='food-drink'}}Farmer's Markets, Food & Drink{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.category) value='festivals-fairs'}}Festivals & Fairs{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.category) value='holiday-events'}}Holiday Events{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.category) value='nature'}}Nature{{/mdl-value-item}}
          {{#mdl-value-item binding=(mut formValues.category) value='sporting-events'}}Sports{{/mdl-value-item}}
        {{/mdl-menu}}
      </div>

      {{mdl-textfield value=formValues.name name="name" class="submit-form__name" label="Name of Event"}}
      {{mdl-textfield value=formValues.email name="email" class="submit-form__email" label="Email"}}

      {{#pikaday-with-time startValue=startDate binding=formValues.startDate as |date|}}
        <div class="mdl-textfield mdl-js-textfield">
          {{pikaday-input class="mdl-textfield__input" value=date}}
          <label class="mdl-textfield__label" for="sample1">Start Date</label>
        </div>
      {{/pikaday-with-time}}

      {{#pikaday-with-time binding=formValues.endDate as |date|}}
        <div class="mdl-textfield mdl-js-textfield">
          {{pikaday-input class="mdl-textfield__input" value=date}}
          <label class="mdl-textfield__label" for="sample1">End Date</label>
        </div>
      {{/pikaday-with-time}}

      {{mdl-textfield value=formValues.url name="url" class="submit-form__url" label="Website"}}
      {{mdl-textfield value=formValues.location name="location" class="submit-form__location" label="Location"}}
      {{mdl-textfield value=formValues.description name="description" class="submit-form__description" label="Description"}}
      {{mdl-textfield value=formValues.imageUrl name="imageUrl" class="submit-form__imageUrl" label="Image URL"}}

      {{mdl-button class="form-submit" isRaised=true text='Submit'}}
      {{/simple-form}}

    {{arkansas-map class="map"}}
</div>
