<h2>Submit Your Event</h2>
{{#simple-form onsubmit="submitEvent" as |formValues|}}
  {{mdl-textfield value=formValues.name name="name" class="submit-form__name" label="Name"}}
  {{mdl-textfield value=formValues.email name="email" class="submit-form__email" label="Email"}}
  {{mdl-textfield value=formValues.phone name="phone" class="submit-form__phone" label="Phone"}}
  {{mdl-textfield value=formValues.dates name="dates" class="submit-form__dates" label="Dates"}}
  {{mdl-textfield value=formValues.url name="url" class="submit-form__url" label="Website"}}
  {{mdl-textfield value=formValues.location name="location" class="submit-form__location" label="Location"}}
  {{mdl-textfield value=formValues.description name="description" class="submit-form__description" label="Description"}}


  <button>Submit</button>
{{/simple-form}}
