{{#mdl-nav title="Ease Down Arkansas" fixedHeader=true}}
  {{mdl-nav-item name='Home' class="nav__name"  route='guide'}}
  {{mdl-nav-item name='Submit An Event'   route='guide.submit'}}
  {{mdl-nav-item name='Learn About Regions'  route='guide.regions'}}
  {{mdl-nav-item name='See All Events'  route='guide.see-all'}}


  {{outlet}}

  {{#mdl-mini-footer }}
    {{#mdl-footer-linklist}}
      <li>
        {{#link-to 'guide'}}
          Home
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'guide.submit'}}
          Submit An Event
        {{/link-to}}
        </li>
      <li>
        {{#link-to 'guide.regions'}}
          Learn About Regions
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'guide.see-all'}}
          See All Events
        {{/link-to}}
      </li>
    {{/mdl-footer-linklist}}
  {{/mdl-mini-footer}}
{{/mdl-nav}}
